* {
    font-weight: 500;
}

body {
    text-align: initial;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#eeeeff, #c4c7ff);
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 35%;
    margin-right: 30%;
    overflow: hidden;
}

.chatbox {
    position: relative;
    width: 420px;
    background: whitesmoke;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, .1),
        0 32px 64px -48px rgba(0, 0, 0, .5);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(48, 118, 198);
    padding: 5%;
}

.header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info .chatbox-logo {
    height: 35px;
    width: 35px;
    background-color: #eeeeff;
    border-radius: 50%;
    padding: 6px;
    fill: rgb(48, 118, 198);
}

.header-info .logo-text {
    color: aliceblue;
    font-size: 1.21rem;
    font-weight: 600
}

.header #close-chatbox {
    border: none;
    color: aliceblue;
    background: none;
    height: 40px;
    width: 40px;
    padding-top: 2px;
    font-size: 1.9rem;
    margin-right: -10px;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s ease;
}

.header #close-chatbox:hover {
    background: rgb(33, 93, 162);

}

.chat-body {
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    height: 460px;
    margin-bottom: 82px;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
}

.chat-body .message {
    display: flex;
    align-items: center;
    gap: 11px;

}

.chat-body .bot-message .bot-avater {
    height: 35px;
    width: 35px;
    background: rgb(33, 93, 162);
    border-radius: 50%;
    padding: 6px;
    margin-bottom: 2px;
    flex-shrink: 0;
    align-self: flex-end;
    fill: rgb(250, 250, 250);
}


.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;

}

.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.9rem;
}

.chat-body .bot-message .thinking .message-text {
    padding: 2px 16px;
}

.chat-body .bot-message .message-text {
    background: #e9e9f9;
    border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message .message-text {
    background: rgb(33, 93, 162);
    color: aliceblue;
    border-radius: 13px 13px 3px 13px;
}

.chat-body .user-message .attachment {
    width: 50%;
    margin-top: -7px;
    border-radius: 13px 3px 13px 13px;
}


.chat-body .bot-message .thinking-indicator .dot {
    height: 7px;
    width: 7px;
    background: rgb(33, 93, 162);
    border-radius: 50%;
    animation: dotPulse 1.8s ease-in-out infinite;
    opacity: .7;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(1) {
    animation-delay: .2s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(2) {
    animation-delay: .3s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(3) {
    animation-delay: .4s;
}

.chat-body .bot-message .thinking-indicator {
    display: flex;
    gap: 4px;
    padding-block: 15px;
}


@keyframes dotPulse {

    0%,
    44% {
        transform: translateY(0);
    }

    28% {
        opacity: .4;
        transform: translateY(-4px);
    }

    44% {
        opacity: .2;
    }
}

.chat-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #eeeeff;
    padding: 15px 22px 20px;
}

.chat-footer .chat-form {
    display: flex;
    align-items: center;
    background: white;
    outline: 1px solid #cccce5;
    border-radius: 32px;
}

.chat-footer .chat-form:focus-within {
    outline: 2px solid rgb(33, 93, 162);
}

.chat-form .message-input {
    border: none;
    outline: none;
    height: 47px;
    width: 100%;
    resize: none;
    font-size: 0.95rem;
    padding: 14px 0 0 18px;
    border-radius: inherit;
}

.chat-form .chat-control {
    display: flex;
    height: 47px;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
    gap: 3px;
}

.chat-form .chat-control button {
    height: 35px;
    width: 35px;
    cursor: pointer;
    border: none;
    color: rgb(33, 93, 162);
    background: none;
    border-radius: 50%;
    font-size: 1.15rem;
    transition: .2s ease;
}

.chat-form .chat-control button:hover {
    background: #eeeeff;
}

.chat-form .chat-control #send-message {
    background: rgb(33, 93, 162);
    color: #eeeeff;
    display: none;
}

.chat-form .message-input:valid~.chat-control #send-message {
    display: block;
}

.chat-form .chat-control #send-message:hover {
    background: rgb(33, 93, 162);
}

.chat-form .file-upload-wrapper {
    height: 35px;
    width: 35px;
    position: relative;
}

.chat-form .file-upload-wrapper :where(img, button) {
    position: absolute;
}

.chat-form .file-upload-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat-form .file-upload-wrapper #file-cancel {
    color: red;
    background: white;
}

.chat-form .file-upload-wrapper :where(img, #file-cancel),
.chat-form .file-upload-wrapper .file-uploaded #file-upload {
    display: none;
}

.chat-form .file-upload-wrapper .file-uploaded img,
.chat-form .file-upload-wrapper .file-uploaded:hover #file-cancel {
    display: block;
}